<div class="row">
    <div class="col col-form col-8">
        {% include 'includes/admin/_field.html' with field=form.title_ru only %}
        {% include 'includes/admin/_field.html' with field=form.title_en only %}
        {% include 'includes/admin/_field.html' with field=form.button_text_ru only %}
        {% include 'includes/admin/_field.html' with field=form.button_text_en only %}
        {% include 'includes/admin/_field.html' with field=form.subtitle_ru only %}
        {% include 'includes/admin/_field.html' with field=form.subtitle_en only %}
        {% include 'includes/admin/_field.html' with field=form.content_ru only %}
        {% include 'includes/admin/_field.html' with field=form.content_en only %}
        {% include 'includes/admin/_field.html' with field=form.link only %}
        {% include 'includes/admin/_field.html' with field=form.name only %}
        {% include 'includes/admin/_field.html' with field=form.font_size_button only %}
        {% include 'includes/admin/_field.html' with field=form.font_size_title only %}
        {% include 'includes/admin/_field.html' with field=form.font_size_subtitle only %}
        {% include 'includes/admin/_field.html' with field=form.font_size_content only %}

        {% include 'includes/admin/_field.html' with field=form.color_button_text only %}
        {% include 'includes/admin/_field.html' with field=form.color_title_text only %}
        {% include 'includes/admin/_field.html' with field=form.color_subtitle_text only %}
        {% include 'includes/admin/_field.html' with field=form.color_content_text only %}
        {% include 'includes/admin/_field.html' with field=form.desktop_image only %}
        {% include 'includes/admin/_field.html' with field=form.mobile_image only %}
        {% include 'includes/admin/_field.html' with field=form.blackout only %}
        {% include 'includes/admin/_field.html' with field=form.is_active only %}
    </div>
</div>
