{% extends 'base_admin.html' %}
{% load static %}
{% load bool_to_ru %}
{% load url_replace %}
{% load thumbnail %}

{% block title %}
Записи на примерку
{% endblock %}

{% block content %}
<div class="main-content" id="crmCategoriesList">
    <div class="main-head row">
        <h1 class="h1 title_margin-bottom col-12">Записи на примерку</h1>
        <div class="col-12 row no-gutters">


            <div class="flex-grow-1 col  search-filters-group">
                <form class="form-group filter-search-form {% if has_filter_status %}filt{% endif %}" method="GET">
                    <input type="text" name="search" value="{{ request.GET.search }}" class="form-control  input-search-filters" placeholder="Поиск + фильтрация" id="id_search" autocomplete="off">
                    <div class="search-filters_count-box">
                        <i class="bi bi-filter"></i>
                        <span class="search-filters_count" data-count="1">1</span>
                    </div>
                    <button class="btn-search" type="submit" aria-label="Поиск">
                        <i class="bi bi-search"></i>
                    </button>
                    <button class="btn-search-reset" type="reset" aria-label="Сбросить фильтры, очистить поле">
                        <i class="bi bi-x"></i>
                    </button>

                    <div class="dropdown  dropdown-search-filters">
                        <div class="dropdown-menu  modal-search-filters" aria-labelledby="id_search-btn">
                            <ul class="filters-list">
                                <li class="filters-item">
                                    <div class="form-check  filter-title">
                                        <input class="form-check-input" type="checkbox" value="" id="f-status" {% if has_filter_status %}checked{% endif %}>
                                        <label class="form-check-label" for="f-status">Статус</label>

                                    </div>
                                    <div class="filters-sub-box">
                                        <ul class="filters-sublist">
                                            <li class="filters-subitem">
                                                <div class="form-check">
                                                    {{ filter.form.is_active }}
                                                    <label class="form-check-label" for="id_is_active">Активная</label>
                                                </div>
                                            </li>
{#                                            <li class="filters-subitem">#}
{#                                                <div class="form-check">#}
{#                                                    {{ filter.form.is_display_on_main }}#}
{#                                                    <label class="form-check-label" for="id_is_display_on_main">Выводить на главной</label>#}
{#                                                </div>#}
{#                                            </li>#}
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div class="filters-reset-row">
                                <a class="filters-reset" type="reset" href="{% url 'crm:categories:categories-list' %}">
                                    Сбросить фильтры
                                    <i class="bi bi-x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <table class="table  table-list  table-list_fittings">
        <thead>
        <tr>
            <th class="table-head head-no-all-check" scope="col">
                <span>Время примерки</span>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Дата создания</span>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Имя и фамилия</span>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Тип примерки</span>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Телефон</span>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Email</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for registration in registration_fittings %}
        <tr onclick="location.href='{% url 'crm:fittings:detail' registration.pk %}'">
            <td style="margin-left: 10px;">
                <span>{{ registration.time }}</span>
            </td>
            <td>
                <span>{{ registration.created }}</span>
            </td>
            <td title="{{ registration.full_name }}">
                <span>{{ registration.full_name }}</span>
            </td>
            <td>
                <span>{{ registration.get_service_type_display }}</span>
            </td>
            <td>
                <span>{{ registration.phone|default:" -" }}</span>
            </td>
            <td title="{{ registration.email }}">
                <span>{{ registration.email|default:" -" }}</span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="footer-list">
        {% include '_pagination.html' with paginator=page_obj %}
    </div>
</div>


{% endblock %}