<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog_password">
        <div class="modal-content modal-content_password">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
                <h5 class="modal-title h6">Сброс пароля</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label" for="passwordChangeCrm">Новый пароль</label>
                    <input type="password" class="form-control" id="passwordChangeCrm">
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="password_repeatCrm">Повторите пароль</label>
                    <input type="password" class="form-control" id="password_repeatCrm">
                </div>
                <p style="color: red; display: none;" id="passwordChangeCrmEmpty">Заполните поля</p>
                <p style="color: red; display: none;" id="passwordChangeCrmError">Пароли не совпадают</p>
                <p style="color: red; display: none;" id="passwordChangeCrmErrorTooShort">Пароль должен содержать не менее 8 символов</p>
                <p style="color: red; display: none;" id="passwordChangeCrmErrorSameAsEmail">Пароль слишком похож на email</p>
                <p style="color:green; display: none" id="passwordChangeCrmSuccess">Пароль успешно изменён</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="crmChangePassword">Сохранить</button>
            </div>
        </div>
    </div>
</div>