<div class="modal modal-products-settings fade" id="products-settings" tabindex="-1" aria-labelledby="productsSettings"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content scroll">
            <div class="modal-header">
                <button type="reset" class="btn-lighter" id="reset">Сбросить</button>
                <button class="btn-lighter" data-bs-dismiss="modal" aria-label="Cancel">Отмена</button>
                <button class="btn" data-bs-dismiss="modal" aria-label="Save">Сохранить</button>
            </div>
            <div class="modal-body">
                <form action="">
                    <ul class="form-check-list">
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check_1">
                            <label class="form-check-label" for="check_1">
                                Id
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check_2">
                            <label class="form-check-label" for="check_2">
                                Позиция
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check_3">
                            <label class="form-check-label" for="3">
                                Название
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check_4">
                            <label class="form-check-label" for="check_4">
                                Артикул
                            </label>
                        </li>
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check_5">
                            <label class="form-check-label" for="check_5">
                                Цена
                            </label>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>