{% extends 'base_admin.html' %}
{% load static %}
{% load bool_to_ru %}
{% load url_replace %}
{% load thumbnail %}

{% block title %}
Категории
{% endblock %}

{% block content %}
<div class="main-content" id="crmCategoriesList" data-disable-categories-url="{{disable_categories_url}}"
     data-enable-categories-url="{{ enable_categories_url }}" data-delete-categories-url="{{ delete_categories_url }}"
     data-copy-categories-url="{{ copy_categories_url }}">
    <div class="main-head row">
        <h1 class="h1 title_margin-bottom col-12">Категории</h1>
        <div class="col-12 row no-gutters">


            <div class="flex-grow-1 col  search-filters-group">
                <form class="form-group filter-search-form {% if has_filter_status %}filt{% endif %}" method="GET">
                    <input type="text" name="search" value="{{ request.GET.search }}" class="form-control  input-search-filters" placeholder="Поиск + фильтрация" id="id_search" autocomplete="off">
                    <div class="search-filters_count-box">
                        <i class="bi bi-filter"></i>
                        <span class="search-filters_count" data-count="1">1</span>
                    </div>
                    <button class="btn-search" type="submit" aria-label="Поиск">
                        <i class="bi bi-search"></i>
                    </button>
                    <button class="btn-search-reset" type="reset" aria-label="Сбросить фильтры, очистить поле">
                        <i class="bi bi-x"></i>
                    </button>

                    <div class="dropdown  dropdown-search-filters">
                        <div class="dropdown-menu  modal-search-filters" aria-labelledby="id_search-btn">
                            <ul class="filters-list">
                                <li class="filters-item">
                                    <div class="form-check  filter-title">
                                        <input class="form-check-input" type="checkbox" value="" id="f-status" {% if has_filter_status %}checked{% endif %}>
                                        <label class="form-check-label" for="f-status">Статус</label>

                                    </div>
                                    <div class="filters-sub-box">
                                        <ul class="filters-sublist">
                                            <li class="filters-subitem">
                                                <div class="form-check">
                                                    {{ filter.form.is_active }}
                                                    <label class="form-check-label" for="id_is_active">Активная</label>
                                                </div>
                                            </li>
{#                                            <li class="filters-subitem">#}
{#                                                <div class="form-check">#}
{#                                                    {{ filter.form.is_display_on_main }}#}
{#                                                    <label class="form-check-label" for="id_is_display_on_main">Выводить на главной</label>#}
{#                                                </div>#}
{#                                            </li>#}
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div class="filters-reset-row">
                                <a class="filters-reset" type="reset" href="{% url 'crm:categories:categories-list' %}">
                                    Сбросить фильтры
                                    <i class="bi bi-x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="dropdown dropdown-add col-auto">
                <a class="btn btn_add dropdown-toggle" href="{% url 'crm:categories:category-create' %}">
                    Создать категорию
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                </ul>
            </div>
        </div>
    </div>

    <table class="table  table-list  table-list_categories">
        <thead>
        <tr>
            <th class="table-head" scope="col">
                <div class="form-check">
                    <input class="form-check-input product-check-all" type="checkbox" value="{{ category.id }}"
                           id="check">
                </div>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Превью</span>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Позиция</span>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Название</span>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Родительская категория</span>
            </th>
            <th class="table-head head-no-all-check" scope="col">
                <span>Активна</span>
            </th>
            <th class="table-head head-no-all-check" scope="col"></th>
            <th class="table-head head-no-all-check" scope="col"></th>
            <th class="table-head head-no-all-check" scope="col"></th>

            <th class="table-head head-all-check colspan-first" scope="col">
                <div>Выбрано <span class="count-check">969</span> из <span class="count-all">969</span></div>
            </th>
            <th class="table-head head-all-check colspan-last" scope="col">
                <div class="nav-item-pills dropdown table-dropdown">
                    <button class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
                            aria-expanded="false" data-bs-display="static">
                        Действие
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <btn class="dropdown-item dropdown-item_border-bottom" style="cursor: pointer"
                                 id="disableCategories">Отключить
                            </btn>
                        </li>
                        <li>
                            <btn class="dropdown-item dropdown-item_border-bottom" style="cursor: pointer"
                                 id="enableCategories">Включить
                            </btn>
                        </li>
                        <li>
                            <btn class="dropdown-item dropdown-item_border-bottom" style="cursor: pointer"
                                 id="copyCategories">Копировать
                            </btn>
                        </li>
                        <li>
                            <btn class="dropdown-item" style="cursor: pointer" id="deleteCategories">Удалить</btn>
                        </li>
                    </ul>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr onclick="location.href='{% url 'crm:categories:category-detail' category.pk %}'">
            <th scope="row">
                <div class="form-check">
                    <input class="form-check-input product-check" type="checkbox" value="{{ category.id }}"
                           id="defaultCheck1">
                </div>
            </th>
            <td class="{% if not category.is_active %} disabled {% endif %}">
                <div class="card-img">
                    <img src="{{ category.get_cropped_main_image }}" alt="" onerror="this.style.visibility = 'hidden'">
                </div>
            </td>
            <td class="{% if not category.is_active %} disabled {% endif %}">
                <span>{{ category.order }}</span>
            </td>
            <td class="col-description {% if not category.is_active %} disabled {% endif %}">
                <p>{{ category.name }}</p>
            </td>
            <td class="col-description {% if not category.is_active %} disabled {% endif %}">
                <p>{% if category.parent %}{{ category.parent.name }}{% else %}-{% endif %}</p>
            </td>
            <td class="{% if not category.is_active %} disabled {% endif %}">
                <span>{% bool_to_ru category.is_active %}</span>
            </td>
            <td class="col-product-link" title="Посмотреть продукты категории в CRM">
                <a href="{% url 'crm:products:products-list' %}?category={{ category.name }}" target="_blank">
                    <i class="bi bi-card-list"></i>
                </a>
            </td>
            <td class="col-product-link" title="">
                <a href="{{ category.get_detail_url }}" target="_blank">
                    <i class="bi bi-eye-fill"></i>
                </a>
            </td>
            <td class="col-product-disabled {% if not category.is_active %} disabled {% endif %}"
                title="{% if not category.is_active %}Включить{% else %}Выключить{% endif %} категорию">
                <a href="{% url 'crm:categories:change-status' category.pk %}"
                   class="btn-disabled {% if category.is_active %} active {% endif %}"></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="footer-list">
        {% include '_pagination.html' with paginator=page_obj %}
    </div>
</div>


{% endblock %}